<h2>Eventos</h2>
<hr>

<!-- <form  action="" class="row row-cols-lg-auto g-3 align-items-center mb-2"> -->
<div class="">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista"
      [ngModelOptions]="{standalone: true}"
    >
  </div>
</div>
<!-- </form> -->

<!-- <h6>Caracteres Pesquisado: {{filtroLista}}</h6> -->
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="ExibirImagem()">{{!mostrarImagem ? 'Mostrar' : 'Ocultar'}} </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!mostrarImagem"
        [isAnimated]="true"
          src="/assets/{{evento.imagemURL}}"
          [style.width.px]="larguraImagem"
          [style.margen.px]="margemImagem"
        >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.data}}</td>
      <td>{{evento.quantidade}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado.</h4>
        </td>
      </tr>
    </tfoot>
</table>

<!-- {{eventos | json}} -->
